aniso8601==1.2.0
beautifulsoup4==4.5.1
click==6.6
Flask==0.11.1
Flask-RESTful==0.3.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
MechanicalSoup==0.6.0
python-dateutil==2.6.0
pytz==2016.7
requests==2.12.3
six==1.10.0
Werkzeug==0.11.11
wheel==0.24.0
